.red{
    color: red;
}

.red_2{
    color: red;
}

.green{
    color: green;
}

.blu{
    color: blue;
}

.aqua{
    color: aqua;
}

.blueviolet{
    color: blueviolet;
}

.xxsmall{
    font-size: xx-small;
}

.xsmall{
    font-size: x-small;
}

.medium{
    font-size: medium;
}

.xlarge{
    font-size: x-large;
}

.large{
    font-size: large;
}

.small{
    font-size: small;
}

.xxlarge{
    font-size: xx-large;
}